<!doctype html>
<html lang="hu" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<div th:replace="/layouts/head :: head (title='Details')"></div>
<body>
<main class="container">
    <div th:replace="layouts/nav::nav"></div>
    <div th:unless="${error}" th:object="${recipe}">
        <h1 th:text="*{name}"></h1>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>#</th>
                <th>Alapanyag</th>
                <th>Mennyiség</th>
                <th>Mértékegység</th>
                <th>Elérhető</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="ingredient: ${recipe.ingredients}">
                <td><a sec:authorize="isAuthenticated()"
                       th:text="${ingredient.key.id}"
                       th:href="@{/ingredients/update/{id}(id=${ingredient.key.id})}"></a>
                    <span sec:authorize="isAnonymous()" th:text="${ingredientStat.index + 1}"></span>
                </td>
                <td th:text="${ingredient.key.name}"></td>
                <td th:text="${ingredient.value}"></td>
                <td th:text="${ingredient.key.unit.toString.toLowerCase()}"></td>
                <td th:text="${ingredient.key.available?'x':''}"></td>
                <td><a sec:authorize="isAuthenticated()" th:href="@{/recipes/{id}/ingredients/delete/{idIngr}(id=${recipe.id}, idIngr=${ingredient.key.id})}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-trash" viewBox="0 0 16 16">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                        <path fill-rule="evenodd"
                              d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                    </svg>
                </a></td>
            </tbody>
        </table>
        <h5>
            <a sec:authorize="isAuthenticated()" th:href="@{/recipes/ingredients/{id}(id=${recipe.id})}"
               class="btn btn-primary">Alapanyag hozzáadása</a>
        </h5>
        <h5>Elkészítés:</h5>
        <div th:text="${recipe.steps}"></div>
        <h5>Allergiák:</h5>
        <div th:each="allergy : ${recipe.allergies}">
            <p th:text="${allergy}"></p>
        </div>
    </div>
</main>
</body>
</html>